<div class="dish-container">
    <div class="tonkutso">
        <img src="./../../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
        <table>
            <th>Tonkotsu Ramen</th>
            <tr>
                <td>CHICKEN</td>
                <td>11.95 €</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>11.95 €</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>11.95 €</td>
            </tr>
        </table>
    </div>
    
    <div class="spicy-miso-ramen">
        <img src="./../../../../assets/img/3_section_our_menu/Png/R2.png" alt="">
        <table>
            <th>Tonkotsu Ramen</th>
            <tr>
                <td>CHICKEN</td>
                <td>11.95 €</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>11.95 €</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>11.95 €</td>
            </tr>
        </table>
    </div>
    
    <div class="shio-ramen">
        <img src="./../../../../assets/img/3_section_our_menu/Png/R3.png" alt="">
        <table>
            <th>Tonkotsu Ramen</th>
            <tr>
                <td>CHICKEN</td>
                <td>11.95 €</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>11.95 €</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>11.95 €</td>
            </tr>
        </table>
    </div>
</div>
