section {
    background-image: url('./../../assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg');
    padding: 120px 0 120px 0;
}

h2 {
    text-align: center;
    font-family: 'Raleway';
    font-style: bold;
    font-size: 80px;
    color: #9F0908;
}